.nav {
  height: 48px;
  width: 100%;

  position: relative;
  overflow: hidden;

  background: rgba(white, 0.96);

  >ul {
    padding: 0 4%;
    margin: 0;
    height: 100%;
  }

  li {
    // @include span-columns(2);

    height: 100%;
    float: right;
    text-align: center;

    padding-top: 7px;
  }

  a {
    padding: 4px 1px;

    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: $primary-color;
    // font-weight: 700;
    font-size: 12px;

    &:hover {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
}


.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  -webkit-transform: translateZ(0);

  @include transition(top 400ms ease);
}

.headroom--pinned {
  top: 0;
}

.headroom--unpinned {
  top: -50px;
}
