.nav {
  height: 48px;
  width: 100%;

  position: relative;
  overflow: hidden;

  // display: none;
  background: rgba(white, 0.96);
  // background: rgba($primary-color, 0.98);
  // border-bottom: 1px solid tint($primary-color, 10%);

  >ul {
    // @include outer-container;

    // display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    // color: #FFF;
  }

  li {
    @include span-columns(2);
    // display: block;
    height: 100%;
    float: right;
    text-align: center;
    // background: #000;

    padding-top: 7px;
  }

  a {

    // display: block;
    // height: 100%;
    // width: 100%;
    padding: 4px 1px;

    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: $primary-color;
    // font-weight: 700;
    font-size: 12px;

    &:hover {
      color: $primary-color;
      // background: tint($primary-color, 10%);
      border-bottom: 1px solid $primary-color;
    }
  }
}


.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  -webkit-transform: translateZ(0);

  @include transition(top 400ms ease);
}

.headroom--pinned {
  // position: fixed;
  top: 0;
}

.headroom--unpinned {
  // position: fixed;
  top: -50px;
}
